[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0270: Use coalesce expression
dotnet_style_coalesce_expression = false
