[*.cs]

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = silent

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = none

dotnet_diagnostic.IDE1006.severity = none
